@import "./../../styles/variables";

.testing_specialist_text {
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: $heading-color;
    @media #{$sm} {
      font-size: 24px;
    }
  }
  h6 {
    color: $primary-color;
    font-weight: 600;
  }
}
.slide_list {
  text-align: center;
  .slider_list_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    p{
      color: $text-secondary;
    }
    @media #{$sm} {
      text-align: justify;
    }
  }
}

.arrow_button_left {
  border: none !important;
  // background-color: #383838 !important;
  background-color: $primary-color !important;
  border-radius: 6px;
  position: absolute;
  top: 38%;
  left: 8%;
  width: 35px;
  height: 35px;
  color: $white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$sm} {
    left: 5%;
  }
}
.arrow_button_right {
  border: none !important;
  // background-color: #383838 !important;
  background-color: $primary-color !important;
  border-radius: 6px;
  position: absolute;
  top: 38%;
  left: 89%;
  width: 35px;
  height: 35px;
  color: $white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$sm} {
    left: 85%;
  }
}
